.bio {
  z-index: 30;
  grid-column: 1 / -1;
  justify-self: stretch;
  justify-items: center;
  background-image: linear-gradient(transparent 0, #f4ffe5 5%, #deffb8 100%);
  padding: 16rem 0 15rem 0;
  margin-top: -5rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  font-family: 'PT Sans Caption', sans-serif; }
  @media only screen and (max-width: 38.75em) {
    .bio {
      margin-top: -6rem; } }
  @media only screen and (max-width: 31.25em) {
    .bio {
      margin-top: -9rem;
      padding-top: 12rem;
      padding-bottom: 9rem; } }
  @media only screen and (max-width: 22.5em) {
    .bio {
      margin-top: -7rem;
      padding-top: 12rem;
      padding-bottom: 9rem; } }
  .bio__container {
    display: grid;
    grid-template-areas: "header  header  header              header" "me-head me-head me-head             tec-head " "me      me      photo               techno" "me      me       photo         biobutton-1" "me      me         photo      biobutton-2";
    grid-template-areas: "header  header  header              header" "me-head me-head me-head             tec-head " "me      me      photo               techno" "me      me      biobutton-1         biobutton-1" "me      me      biobutton-2      biobutton-2";
    grid-template-rows: repeat(5, max-content);
    grid-template-columns: 1fr 1fr minmax(min-content, 0.6fr) 1fr;
    grid-gap: .4rem;
    background-color: #ececf3;
    background-color: #fff;
    opacity: .9;
    color: #fff;
    overflow: hidden;
    padding: .8rem;
    margin: 0 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0.1rem 1rem 1rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 75em) {
      .bio__container {
        grid-template-areas: "header  header  header              header" "me-head me-head me-head             tec-head " "me      me      photo               techno" "me      me      biobutton-1         biobutton-1" "me      me      biobutton-2      biobutton-2"; } }
    @media only screen and (max-width: 38.75em) {
      .bio__container {
        margin: 0 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "header         header      header      header" "me-head        me-head     me-head     me-head" "me             me          me          me" "photo          techno      techno      techno" "biobutton-1    techno      techno techno" "biobutton-2    tec-head    tec-head tec-head"; } }
  .bio--item {
    align-self: stretch;
    border-radius: 8px;
    color: white;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
    padding: .4rem;
    padding-bottom: .6rem;
    background-color: #87ceeb; }
  .bio__header {
    display: block;
    color: #4b750c;
    font-size: 5rem;
    font-weight: 500;
    grid-area: header;
    justify-self: center;
    align-self: start;
    text-align: center;
    margin-bottom: 10rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 38.75em) {
      .bio__header {
        margin-bottom: 5rem; } }
  .bio__about {
    grid-area: me; }
    .bio__about--text {
      padding: 3rem 2rem 1rem 2rem;
      font-size: 3.2rem;
      letter-spacing: -1px; }
      @media only screen and (max-width: 75em) {
        .bio__about--text {
          font-size: 3.2rem;
          letter-spacing: 0;
          padding: 1.5rem 1rem .5rem 1rem; } }
      @media only screen and (max-width: 56em) {
        .bio__about--text {
          font-size: 3rem; } }
      @media only screen and (max-width: 38.75em) {
        .bio__about--text {
          font-size: 3.2rem; } }
    .bio__about--header {
      grid-area: me-head;
      font-size: 3.8rem;
      margin-bottom: 5px; }
  .bio__photo {
    position: relative;
    grid-area: photo;
    filter: sepia(20%);
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;
    align-self: start;
    background-color: transparent !important;
    box-shadow: none; }
    .bio__photo--photo {
      background-color: #fff !important;
      width: 100%;
      box-shadow: none; }
      @media only screen and (max-width: 38.75em) {
        .bio__photo--photo {
          max-width: 16em; } }
      @media only screen and (max-width: 22.5em) {
        .bio__photo--photo {
          max-width: 12em; } }
    .bio__photo--glasses {
      position: absolute;
      top: 27%;
      left: 14%;
      width: 70%;
      grid-area: photo;
      opacity: 0;
      transition: all .3s;
      transform: translateY(-200%); }
    .bio__photo:active {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      filter: grayscale(100%); }
    .bio__photo:active > .bio__photo--glasses {
      transform: translateY(0);
      opacity: 1; }
    @media only screen and (max-width: 75em) {
      .bio__photo:focus, .bio__photo:active {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        filter: grayscale(100%); }
      .bio__photo:focus,
      .bio__photo:active > .bio__photo--glasses {
        transform: translateY(0);
        opacity: 1; } }
  .bio__button--1 {
    grid-area: biobutton-1; }
  .bio__button--2 {
    grid-area: biobutton-2; }
  .bio__button:link, .bio__button:visited {
    max-height: 6rem;
    width: 100%;
    background-color: #4ab8e4;
    border-radius: 8px;
    font-size: 2.8rem;
    line-height: 5rem;
    cursor: pointer;
    transition: all .1s;
    text-decoration: none; }
    @media only screen and (max-width: 38.75em) {
      .bio__button:link, .bio__button:visited {
        height: 100%;
        align-self: end; } }
    .bio__button:link:hover, .bio__button:visited:hover {
      transform: translateY(-2px);
      background-color: #93e0ff; }
      @media only screen and (max-width: 75em) {
        .bio__button:link:hover, .bio__button:visited:hover {
          background-color: #4ab8e4 !important;
          transform: translateY(0); } }
    .bio__button:link:active, .bio__button:visited:active {
      transform: translateY(3px);
      box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
      background-color: #4ab8e4 !important; }
      @media only screen and (max-width: 75em) {
        .bio__button:link:active, .bio__button:visited:active {
          transform: translateY(0); } }
  .bio__technologies {
    grid-area: techno;
    font-size: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly; }
    .bio__technologies--header {
      grid-area: tec-head;
      font-size: 3.8rem;
      align-self: stretch;
      justify-self: stretch;
      margin-bottom: 5px;
      background-color: #87ceeb;
      color: white; }
      @media only screen and (max-width: 38.75em) {
        .bio__technologies--header {
          align-self: start;
          margin-bottom: 0;
          height: 100%; } }
    .bio__technologies--icon-box {
      width: 6rem;
      height: 6rem;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
      margin: .5rem; }
      @media only screen and (max-width: 38.75em) {
        .bio__technologies--icon-box {
          width: 10rem;
          height: 10rem; } }
      @media only screen and (max-width: 31.25em) {
        .bio__technologies--icon-box {
          width: 8rem;
          height: 8rem; } }
      @media only screen and (max-width: 22.5em) {
        .bio__technologies--icon-box {
          width: 6rem;
          height: 6rem; } }
    .bio__technologies--icon {
      padding: .5rem;
      height: 100%;
      width: 100%;
      background-color: white; }

.contact {
  background-color: #ddd;
  background-image: radial-gradient(#cfdfba, #e6ffca);
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 0, 50% 8rem, 100% 0, 100% 100%, 0 100%);
  padding: 6rem 0 8rem 0; }
  .contact__header {
    font-size: 5rem;
    font-weight: 400;
    margin: 8rem auto;
    color: #fff;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4); }

.footer {
  grid-column: 1/ -1;
  background-color: indianred;
  height: 10rem;
  background-color: #99b985;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  display: flex;
  align-items: center; }
  .footer__text {
    font-weight: 400;
    margin: 0 auto; }
    .footer__text--link {
      text-decoration: none;
      transition: all .2s;
      color: #98e2ff;
      font-weight: 600;
      font-size: 3.2rem; }
      .footer__text--link:hover {
        color: #fff; }
  .footer-link {
    text-decoration: none; }

.header {
  grid-column: 1/ -1;
  height: 48vw;
  font-family: 'Lato', 'PT Sans Caption', sans-serif;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: start; }
  .header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./img/background_computer-2000.jpg);
    filter: hue-rotate(35deg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; }
    @media (min-resolution: 192dpi) and (max-width: 50em), (max-width: 100em) {
      .header::after {
        background-image: url(./img/background_computer-1600.jpg); } }
    @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 93.75em) {
      .header::after {
        background-image: url(./img/background_computer-1200.jpg); } }
    @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
      .header::after {
        background-image: url(./img/background_computer-900.jpg); } }
    @media (min-resolution: 192dpi) and (max-width: 18.75em), (max-width: 37.5em) {
      .header::after {
        background-image: url(./img/background_computer-600.jpg); } }

.projects {
  margin-bottom: 12rem;
  grid-column: 1 / span 10;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 20rem;
  grid-auto-rows: minmax(1vw, 3vw);
  grid-gap: 15px;
  transition: all .3s; }
  @media only screen and (max-width: 56em) {
    .projects {
      grid-gap: 5px;
      margin-bottom: 5rem;
      grid-template-columns: 0.2fr repeat(8, 1fr) 0.2fr; } }
  @media only screen and (max-width: 38.75em) {
    .projects {
      grid-template-columns: 0.1fr repeat(8, 1fr) 0.1fr; } }
  @media only screen and (max-width: 22.5em) {
    .projects {
      grid-template-rows: 10rem;
      margin-bottom: 2rem; } }
  .projects__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 10;
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    color: #4b750c;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4); }
  .projects__gallery {
    display: block;
    background-color: #eee;
    color: white;
    text-align: center;
    transition: all .5s;
    transform: scale(1);
    border-radius: 3px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    grid-row: span 4;
    grid-column: span 2;
    cursor: pointer;
    animation: appear .5s backwards;
    animation-play-state: paused;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    grid-template-columns: repeat(9, 1fr); }
    .projects__gallery-background {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
      transition: all .3s; }
    .projects__gallery--header, .projects__gallery--footer {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1, 1) translate3d(0, 0, 0);
      transform: translateZ(0) scale(1, 1) translate3d(0, 0, 0);
      -webkit-font-smoothing: subpixel-antialiased;
      margin-right: -2px;
      padding: .4rem;
      background-color: rgba(68, 68, 68, 0.8);
      position: absolute;
      text-align: center;
      transition: all .5s;
      right: 0;
      width: 102%; }
    .projects__gallery--header {
      top: 0;
      right: 0;
      font-size: 2.2rem;
      transform: translateY(-100%); }
      @media only screen and (max-width: 75em) {
        .projects__gallery--header {
          transform: translateY(0); } }
    .projects__gallery--footer {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      bottom: 0;
      right: 0;
      transform: translateY(100%); }
    .projects__gallery:hover > .projects__gallery--footer {
      bottom: 0;
      transform: translateY(0); }
    .projects__gallery:hover > .projects__gallery--header {
      top: 0;
      transform: translateY(0); }
    .projects__gallery:hover > .projects__gallery-background {
      filter: blur(1px); }
    .projects__gallery--1 {
      grid-column: 2 / span 3;
      grid-row: 2 / span 5;
      animation-delay: .1s;
      background-color: transparent; }
      .projects__gallery--1-background {
        background-image: url(./img/borrowMe-900.jpg); }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--1-background {
            background-image: url(./img/borrowMe-700.jpg); } }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
          .projects__gallery--1-background {
            background-image: url(./img/borrowMe-550.jpg); } }
    .projects__gallery--2 {
      grid-column: 5/ span 3;
      grid-row: 2 / span 3;
      animation-delay: .2s; }
      .projects__gallery--2-background {
        background-image: url(./img/RQM-900.jpg); }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--2-background {
            background-image: url(./img/RQM-700.jpg); } }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
          .projects__gallery--2-background {
            background-image: url(./img/RQM-550.jpg); } }
    .projects__gallery--3 {
      grid-column: 8/ span 2;
      grid-row: 2 / span 3;
      animation-delay: .3s; }
      .projects__gallery--3-background {
        background-image: url("./img/WeatherMachine-600.jpg"); }
        @media (min-width: 100em) {
          .projects__gallery--3-background {
            background-image: url(./img/WeatherMachine.jpg); } }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--3-background {
            background-image: url(./img/WeatherMachine-500.jpg); } }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
          .projects__gallery--3-background {
            background-image: url(./img/WeatherMachine-350.jpg); } }
    .projects__gallery--4 {
      grid-column: 5 / span 4;
      grid-row: 5 / span 3;
      animation-delay: .4s; }
      .projects__gallery--4-background {
        background-image: url("./img/WikipediaViewer.jpg"); }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
          .projects__gallery--4-background {
            background-image: url(WikipediaViewer-700.jpg); } }
    .projects__gallery--5 {
      grid-column: 9 / span 1;
      grid-row: 5 / span 2;
      animation-delay: .5s; }
      .projects__gallery--5-background {
        background-image: url("./img/Kalkulator-300.jpg"); }
      @media (min-width: 100em) {
        .projects__gallery--5 {
          background-image: url("./img/Kalkulator.jpg"); } }
    .projects__gallery--6 {
      grid-column: 2 / span 3;
      grid-row: 7 / span 5;
      animation-delay: .6s; }
      .projects__gallery--6-background {
        background-image: url("./img/PomodoroClock-900.jpg"); }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--6-background {
            background-image: url(./img/PomodoroClock-700.jpg); } }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
          .projects__gallery--6-background {
            background-image: url(./img/PomodoroClock-550.jpg); } }
    .projects__gallery--7 {
      grid-column: 5 / span 4;
      grid-row: 8 / span 4;
      animation-delay: .7s; }
      .projects__gallery--7-background {
        background-image: url("./img/TwitchStream-1300.jpg"); }
        @media (min-width: 100em) {
          .projects__gallery--7-background {
            background-image: url("./img/TwitchStream-1300.jpg"); } }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--7-background {
            background-image: url("./img/TwitchStream-1000.jpg"); } }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
          .projects__gallery--7-background {
            background-image: url("./img/TwitchStream-700.jpg"); } }
    .projects__gallery--8 {
      grid-column: 9 / span 1;
      grid-row: 7 / span 5;
      animation-delay: .8s;
      background-color: transparent; }
      .projects__gallery--8-background {
        background-image: url("./img/Notepad-300.jpg");
        background-size: 250%;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat; }
        @media (min-width: 100em) {
          .projects__gallery--8-background {
            background-image: url("./img/Notepad.jpg"); } }
    .projects__gallery--9 {
      grid-column: 2 / span 2;
      grid-row: 12 / span 4;
      animation-delay: .9s; }
      .projects__gallery--9-background {
        background-image: url("./img/TicTacToe.jpg"); }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--9-background {
            background-image: url("./img/TicTacToe-600.jpg"); } }
    .projects__gallery--10 {
      grid-column: 4 / span 4;
      grid-row: 12 / span 4;
      animation-delay: 1s; }
      .projects__gallery--10-background {
        background-image: url("./img/portfolio-1400.jpg"); }
        @media (min-width: 100em) {
          .projects__gallery--10-background {
            background-image: url("./img/portfolio.jpg"); } }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--10-background {
            background-image: url("./img/portfolio-1000.jpg"); } }
        @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 50em) {
          .projects__gallery--10-background {
            background-image: url("./img/TwitchStream-800.jpg"); } }
    .projects__gallery--11 {
      grid-column: 8 / span 2;
      grid-row: 12 / span 4;
      animation-delay: 1.1s; }
      .projects__gallery--11-background {
        background-image: url("./img/SimonGame.jpg"); }
        @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 75em) {
          .projects__gallery--11-background {
            background-image: url("./img/SimonGame-500.jpg"); } }
    .projects__gallery--12 {
      grid-column: 2 / span 8;
      grid-row: 16 / span 2; }
      .projects__gallery--12-background {
        background-image: radial-gradient(#e6ffc0, #ddd); }
    .projects__gallery:hover {
      transform: translateY(-7px);
      box-shadow: 3px 5px 8px rgba(1, 1, 1, 0.6); }

.animation-appear {
  animation-play-state: running !important; }

@keyframes typing {
  from {
    width: 1%; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #eee; } }

@keyframes moveInButton {
  from {
    transform: translateY(5rem);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; } }

@keyframes heartBit {
  0 {
    opacity: 1;
    transform: scale(1.1); }
  30% {
    opacity: 0;
    transform: scale(1.7); }
  31% {
    opacity: 0;
    transform: scale(1.1); }
  32% {
    opacity: 1;
    transform: scale(1.1); }
  60% {
    opacity: 0;
    transform: scale(1.7); }
  61% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 0;
    transform: scale(1.1); } }

@keyframes appear {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.header__button {
  display: flex;
  align-items: center;
  filter: brightness(90%);
  transition: all .2s; }
  .header__button:link, .header__button:visited {
    grid-row: 5 / span 1;
    grid-column: 1 / span 10;
    align-self: end;
    justify-self: center;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #eee;
    padding: .6rem 1.5rem;
    border: 2px solid #eee;
    border-radius: 50px;
    transform-origin: center;
    transition: transform .2s;
    animation: moveInButton .6s backwards;
    animation-delay: 3.5s;
    text-decoration: none;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
    background-color: #444; }
    @media only screen and (max-width: 75em) {
      .header__button:link, .header__button:visited {
        color: #fff;
        filter: none;
        background-color: #444; } }
    @media only screen and (max-width: 31.25em) {
      .header__button:link, .header__button:visited {
        grid-column: 1 / span 11;
        background-color: #444; } }
    @media only screen and (max-width: 31.25em) {
      .header__button:link, .header__button:visited {
        grid-row: 6 / span 1; } }
    .header__button:link:hover, .header__button:visited:hover {
      color: #fff;
      border-color: #fff;
      transform: translateY(-5px);
      background-color: #444;
      box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
      cursor: pointer;
      filter: none; }
    .header__button:link:active, .header__button:visited:active {
      transform: scale(1) translateY(-2px); }

.form {
  margin-bottom: 4rem;
  background-color: #f8f8ff;
  border-radius: 8px;
  display: grid;
  grid-template-areas: "text text" "name email" "submit submit";
  transition: all .5s;
  animation: appear .5s backwards;
  animation-play-state: paused;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow: hidden; }
  .form__group--message {
    grid-area: text;
    color: #555;
    font-weight: 500;
    font-size: 2.7rem; }
  .form__group--name {
    grid-area: name;
    box-sizing: border-box; }
  .form__group--email {
    grid-area: email;
    box-sizing: border-box; }
  .form__input {
    user-select: all;
    display: block;
    width: 100%;
    font-size: 2.5rem;
    padding: 1rem;
    font-family: 'Lato', 'PT Sans Caption', sans-serif;
    border: none;
    border-top: 2px solid #ddd; }
    @media only screen and (max-width: 75em) {
      .form__input {
        font-size: 3rem; } }
    @media only screen and (max-width: 56em) {
      .form__input {
        font-size: 4rem; } }
    @media only screen and (max-width: 31.25em) {
      .form__input {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 22.5em) {
      .form__input {
        font-size: 3.8rem; } }
    .form__input--name, .form__input--email {
      border-bottom: 2px solid #ddd; }
      .form__input--name:focus, .form__input--email:focus {
        border-bottom: 2px solid lime; }
      .form__input--name:focus:invalid, .form__input--email:focus:invalid {
        border-bottom: 2px solid #ff5100; }
    .form__input--label {
      display: block;
      font-size: 2.5rem;
      padding: 1rem;
      margin-left: .1rem;
      font-family: 'Lato', 'PT Sans Caption', sans-serif;
      transition: all .15s; }
      @media only screen and (max-width: 75em) {
        .form__input--label {
          font-size: 3rem; } }
      @media only screen and (max-width: 56em) {
        .form__input--label {
          font-size: 4rem; } }
      @media only screen and (max-width: 31.25em) {
        .form__input--label {
          font-size: 3rem; } }
      @media only screen and (max-width: 22.5em) {
        .form__input--label {
          font-size: 3.8rem; } }
    .form__input--name {
      border-right: 1px solid #eee; }
    .form__input--email {
      border-left: 1px solid #eee; }
    .form__input--message {
      resize: none; }
    .form__input--submit {
      grid-area: submit;
      cursor: pointer;
      border-radius: 5px;
      background-color: #87ceeb;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      transition: all .1s;
      outline: none; }
      .form__input--submit:active {
        transform: translateY(2px); }
      .form__input--submit:hover {
        background-color: #7dd3f5; }
    .form__input:placeholder-shown + .form__input--label {
      transform: translateY(-5rem);
      user-select: all;
      visibility: hidden; }

.icon {
  fill: #fff;
  height: 3rem;
  width: 3rem;
  margin-bottom: -.5rem; }
  .icon-box {
    height: 100%;
    width: 3rem; }
  .icon-dark {
    fill: #555; }
  .icon-red {
    fill: red; }

.navbar {
  grid-row: 1 / span 5;
  grid-column: 1 / span 3;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -2rem;
  margin-left: 2rem;
  opacity: 0;
  display: grid;
  grid-row-gap: 4rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
  justify-self: start;
  box-shadow: 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  z-index: 200;
  transition: all 0.7s 0.1s cubic-bezier(0.31, -0.27, 0.46, 1);
  transform-origin: top left;
  transform: translateY(-101%) scaleY(0.5); }
  @media only screen and (max-width: 75em) {
    .navbar {
      grid-column: 1 / span 3;
      background-color: rgba(0, 0, 0, 0.7); } }
  @media only screen and (max-width: 56em) {
    .navbar {
      grid-column: 1 / span 3;
      transform: translateY(0) scaleY(1);
      opacity: 1;
      grid-row-gap: 2rem;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 10rem;
      grid-row-gap: 2rem; } }
  @media only screen and (max-width: 56em) {
    .navbar {
      grid-column: 1 / span 4; } }
  @media only screen and (max-width: 31.25em) {
    .navbar {
      grid-auto-flow: column;
      grid-auto-columns: minmax(max-content, 1fr);
      grid-column: 1/ span 8;
      padding: 2rem .3rem .1rem 5rem;
      margin-left: 0;
      transform: translateY(0) scaleY(1); } }
  @media only screen and (max-width: 22.5em) {
    .navbar {
      padding-left: 5rem; } }
  .navbar__logo {
    height: 6rem;
    width: 6rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: start;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 2rem;
    z-index: 300;
    position: relative;
    transition: all .2s;
    cursor: pointer;
    margin-left: 3rem; }
    @media only screen and (max-width: 31.25em) {
      .navbar__logo {
        margin: .5rem;
        height: 5rem;
        width: 5rem; } }
    @media only screen and (max-width: 22.5em) {
      .navbar__logo {
        height: 4.5rem;
        width: 4.5rem; } }
    .navbar__logo-text {
      line-height: 100%;
      text-align: center;
      font-size: 2.5rem;
      color: #fff;
      z-index: 11;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 75em) {
        .navbar__logo-text {
          color: #fff; } }
      @media only screen and (max-width: 38.75em) {
        .navbar__logo-text {
          font-size: 1rem !important; } }
    .navbar__logo::after {
      content: '';
      height: 100%;
      width: 100%;
      border: 2px solid #fff;
      border-radius: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: -1;
      transform: scale(1.2);
      animation: 3s heartBit infinite;
      transition: all .4s;
      background-color: inherit;
      animation-play-state: running; }
    .navbar__logo:hover {
      opacity: 1;
      transform: scale(1.2); }
  .navbar__logo:hover ~ .navbar, .navbar:hover {
    transform: translateY(0) scaleY(1);
    opacity: 1; }
  .navbar__item {
    transition: opacity 1s .2s;
    list-style: none;
    padding: 1.5rem 1.5rem;
    font-size: 2.8rem;
    background-color: transparent;
    border-radius: 1px;
    cursor: pointer;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
    background-size: 270%;
    background-position: 100%;
    transition: all .5s, transform .1s;
    letter-spacing: 1px; }
    @media only screen and (max-width: 56em) {
      .navbar__item {
        font-size: 4rem; } }
    @media only screen and (max-width: 38.75em) {
      .navbar__item {
        padding-right: .2rem; } }
    @media only screen and (max-width: 31.25em) {
      .navbar__item {
        font-size: 3.5rem;
        letter-spacing: 0; } }
    .navbar__item--link {
      text-decoration: none;
      color: #fff;
      color: #eee;
      transition: all .5s; }
    .navbar__item:hover {
      border-radius: 5px;
      background-position: 10%; }
    .navbar__item:hover > .navbar__item--link {
      color: black;
      color: #fff; }
  .navbar__logo:hover ~ .navbar > .navbar__item,
  .navbar:hover > .navbar__item {
    opacity: 1;
    visibility: visible; }

.screen {
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  grid-row: 1 / span 4;
  grid-column: 4 / span 4;
  justify-self: center;
  align-self: center;
  margin-top: 5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 56em) {
    .screen {
      grid-column: 1 / span 11; } }
  @media only screen and (max-width: 31.25em) {
    .screen {
      grid-row: 2 / span 2; } }
  .screen__text {
    font-size: 4.5rem;
    font-weight: 400;
    overflow: hidden;
    border-right: .15em solid #eee;
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing 1s 1s backwards steps(15, end), blink-caret 0.55s step-start 5 forwards; }
    .screen__text--small {
      position: relative;
      letter-spacing: .1em;
      font-size: 3.5rem;
      font-weight: 400;
      margin-top: 4rem;
      display: block;
      overflow: hidden;
      border-right: .15em solid transparent;
      white-space: nowrap;
      animation: typing 1s 1s backwards steps(15, end), blink-caret 0.75s step-end infinite backwards;
      animation-delay: 2.5s; }
      @media only screen and (max-width: 31.25em) {
        .screen__text--small {
          margin-top: 2rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 38.75em) {
    html {
      font-size: 32%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 28.125%; } }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 25%; } }

body {
  font-family: 'PT Sans Caption', sans-serif;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  box-sizing: border-box;
  max-width: 100vw !important; }
