.footer {
  grid-column: 1/ -1;
  background-color: indianred; }

.header {
  grid-column: 1/ -1;
  height: 48vw;
  background-image: linear-gradient(transparent 58%, rgba(0, 0, 0, 0.2) 69%, rgba(2, 0, 121, 0.6) 100%), url(./img/background_computer.jpg);
  background-size: 120%;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2rem;
  justify-items: start;
  align-items: start; }

.projects {
  grid-column: 2 / span 9;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  grid-gap: 15px;
  transition: all .3s; }
  .projects__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 9; }
  .projects__gallery {
    background-color: #eee;
    color: white;
    font-size: 15px;
    text-align: center;
    transition: all .3s;
    transform: scale(1);
    border-radius: 3px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    grid-row: span 4;
    grid-column: span 2;
    background-size: contain;
    cursor: pointer;
    animation: appear .5s backwards;
    grid-template-columns: repeat(9, 1fr); }
    .projects__gallery::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 0;
      height: 0;
      background-color: rgba(154, 205, 50, 0.3);
      z-index: 10;
      transition: all .3s; }
    .projects__gallery::before {
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      background-color: rgba(154, 205, 50, 0.3);
      z-index: 10;
      transition: all .3s;
      transform-origin: bottom; }
    .projects__gallery--header, .projects__gallery--footer {
      background-color: rgba(17, 17, 17, 0.5);
      position: absolute;
      text-align: center;
      transition: all .5s;
      left: 0;
      width: 100%;
      padding: 0;
      overflow: hidden; }
    .projects__gallery--header {
      top: 0;
      transform: translateY(-100%); }
    .projects__gallery--footer {
      bottom: 0;
      padding: .5rem;
      transform: translateY(100%); }
    .projects__gallery:hover > .projects__gallery--footer {
      bottom: 0;
      padding-bottom: 1rem;
      transform: translateY(0); }
    .projects__gallery:hover > .projects__gallery--header {
      top: 0;
      padding-top: 1rem;
      transform: translateY(0); }
    .projects__gallery--1 {
      grid-column: 1 / span 3;
      grid-row: 2 / span 5;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_900/v1523050734/borrowMe1_fs9l6z.jpg");
      animation-delay: .1s; }
    .projects__gallery--2 {
      grid-column: 4/ span 3;
      grid-row: 2 / span 3;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_869/v1523054512/RandomQuoteMachine_fxjydr.jpg");
      animation-delay: .2s; }
    .projects__gallery--3 {
      grid-column: 7/ span 3;
      grid-row: 2 / span 3;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/v1523053283/WeatherMachine_t8bkzl.jpg");
      animation-delay: .3s; }
    .projects__gallery--4 {
      grid-column: 4 / span 4;
      grid-row: 5 / span 3;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/v1523051575/WikipediaViewer_ecmkw7.jpg");
      animation-delay: .4s; }
    .projects__gallery--5 {
      grid-column: 8 / span 2;
      grid-row: 5 / span 2;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/v1523052651/Kalkulator_ixtcge.jpg");
      animation-delay: .5s; }
    .projects__gallery--6 {
      grid-column: 1 / span 3;
      grid-row: 7 / span 5;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/v1523053630/PomodoroClock_wbmthm.jpg");
      animation-delay: .6s; }
    .projects__gallery--7 {
      grid-column: 4 / span 4;
      grid-row: 8 / span 4;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_1232/v1523055821/TwitchStream_lazqx1.jpg");
      animation-delay: .7s; }
    .projects__gallery--8 {
      grid-column: 8 / span 2;
      grid-row: 7 / span 5;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_315/v1523056525/Notepad_ly9zmr.jpg");
      animation-delay: .8s; }
    .projects__gallery--9 {
      grid-column: 1 / span 2;
      grid-row: 12 / span 4;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_605/v1523054128/TicTacToe_o9jora.jpg");
      animation-delay: .9s; }
    .projects__gallery--10 {
      grid-column: 3 / span 4;
      grid-row: 12 / span 4;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_1213/v1523056725/portfolio_zyppdb.jpg");
      animation-delay: 1s; }
    .projects__gallery--11 {
      grid-column: 7 / span 3;
      grid-row: 12 / span 4;
      background-image: url("http://res.cloudinary.com/dpyegjkuf/image/upload/c_scale,w_681/v1523056073/SimonGame_g5lyi7.jpg");
      animation-delay: 1.1s; }
    .projects__gallery:hover {
      transform: scale(1.02);
      box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5); }

@keyframes heartBit {
  0 {
    opacity: 1;
    transform: scale(1); }
  30% {
    opacity: 0;
    transform: scale(1.5); }
  30.00001% {
    opacity: 1;
    transform: scale(1); }
  60% {
    opacity: 0;
    transform: scale(1.5); }
  61% {
    opacity: 0;
    transform: scale(1); } }

@keyframes appear {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.header__button {
  grid-row: 7 / span 1;
  grid-column: 4 / span 4;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  color: #eee;
  border-bottom: 2px solid #ddd;
  transform-origin: center;
  transition: all .2s; }
  .header__button:hover {
    color: #fff;
    border-bottom-color: #fff;
    transform: scale(1.1); }

.navbar {
  grid-row: 1 / span 5;
  grid-column: 1 / span 2;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -2rem;
  margin-left: 2rem;
  opacity: 0;
  display: grid;
  grid-row-gap: 4rem;
  padding-top: 15rem;
  padding-bottom: 3rem;
  justify-self: start;
  transition: all 0.7s 0.1s cubic-bezier(0.31, -0.27, 0.46, 1);
  transform-origin: top left;
  transform: translateY(-101%) scaleY(0.5); }
  @media only screen and (max-width: 75em) {
    .navbar {
      grid-column: 1 / span 3; } }
  .navbar__logo {
    opacity: .9;
    height: 6rem;
    width: 6rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: start;
    background-color: #ddc0c0;
    border-radius: 100%;
    margin: 2rem;
    z-index: 10;
    position: relative;
    transition: all .2s; }
    .navbar__logo-text {
      line-height: 6rem;
      text-align: center;
      font-size: 2.5rem;
      color: #fff;
      z-index: 11; }
    .navbar__logo::after {
      content: '';
      height: 100%;
      width: 100%;
      border-radius: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: -1;
      animation: 3s heartBit infinite;
      transition: all .4s;
      background-color: inherit; }
    .navbar__logo:hover {
      opacity: 1;
      transform: scale(1.3);
      animation: none; }
  .navbar__logo:hover ~ .navbar, .navbar:hover {
    transform: translateY(0) scaleY(1);
    opacity: 1;
    color: #eee; }
  .navbar__item {
    transition: opacity 1s .2s;
    list-style: none;
    padding: 1.5rem 1.5rem;
    color: #ddd;
    font-size: 2.8rem;
    background-color: transparent;
    border-radius: 1px;
    cursor: pointer;
    background-image: linear-gradient(120deg, #eee 0, #eee 50%, transparent 50%);
    background-size: 270%;
    background-position: 100%;
    transition: all .5s, transform .1s; }
    .navbar__item:hover {
      color: #15003b;
      border-radius: 5px;
      background-position: 10%;
      transform: scale(1.05); }
  .navbar__logo:hover ~ .navbar > .navbar__item,
  .navbar:hover > .navbar__item {
    opacity: 1;
    visibility: visible; }

.screen {
  background-color: transparent;
  color: #eee;
  overflow: hidden;
  font-size: 4.5rem;
  font-weight: 400;
  grid-row: 2 / span 3;
  grid-column: 4 / span 4;
  justify-self: center;
  align-self: center;
  margin-top: 5rem; }
  .screen__text {
    overflow: hidden;
    border-right: .15em solid #eee;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 2s 1s backwards steps(15, end), blink-caret 0.75s step-start 5 forwards; }

@keyframes typing {
  from {
    width: 1%; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #eee; } }
    .screen__text--small {
      margin-top: 4rem;
      display: block;
      overflow: hidden;
      border-right: .15em solid transparent;
      white-space: nowrap;
      letter-spacing: .15em;
      animation: typing 2s 1s backwards steps(15, end), blink-caret 0.75s step-end infinite backwards;
      animation-delay: 3.5s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56em) {
    html {
      font-size: 37.5%; } }

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }
