
.header__button {

    display: flex;
    align-items: center;
    filter: brightness(90%);
    transition: all .2s;

    // &--icon {
    //     &-box {
    //         // position: relative;
    //         height: 100%;
    //         width: 3rem;
    //     }
    //     // position: absolute;
    //     // top: .2rem;
    //     // left: 0;
    //     fill: #fff;
    //     height: 3rem;
    //     width: 3rem;
    // }

    &:link,
    &:visited {
        grid-row: 5 / span 1;
        grid-column: 1 / span 10;
        align-self: end;
        justify-self: center;
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 2px;
        color: #eee;
        padding: .6rem 1.5rem;
        border: 2px solid #eee;
        border-radius: 50px;
        transform-origin: center;
        transition: transform .2s;
        animation: moveInButton .6s backwards;
        animation-delay: 3.5s;
        text-decoration: none;
        box-shadow: .1rem .1rem .5rem rgba(0,0,0, .5);
        background-color: #444;


        @include respond(phone-small){
            grid-column: 1 / span 11;
            background-color: #444;
        }
        @include respond(phone-small){
            grid-row: 6 / span 1;
        }
        

        &:hover {
            color: #fff;
            border-color: #fff;
            transform: translateY(-5px);
            background-color: #444;
            box-shadow: .3rem .3rem 1rem rgba(0,0,0, .5);
            cursor: pointer;
            filter: none;
        }

        

        &:active {
            transform: scale(1) translateY(-2px);
        }

       
    }
    
    
}