
.form {

    margin-bottom: 4rem;
    background-color: #f8f8ff;
    border-radius: 8px;
    display: grid;
    grid-template-areas: "text text"
                        "name email"
                        "submit submit" ;
    transition: all .5s;
    animation: appear .5s backwards;
    animation-play-state: paused;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, .5);
    box-sizing: border-box;
    overflow: hidden;

    &__group {

        &--message {
            grid-area: text;
            color: #555;
            font-weight: 500;
            font-size: 2.7rem;
        }
        &--name {
            grid-area: name;
            box-sizing: border-box;

        }
        &--email {
            grid-area: email;
            box-sizing: border-box;

        }

    }

    &__input{
        user-select: all;
        display: block;
        width: 100%;
        font-size: 2.5rem;
        padding: 1rem;
        font-family:   'Lato', 'PT Sans Caption', sans-serif;
        border: none;
        border-top: 2px solid #ddd;  
        
        @include respond(tab-land){
            font-size: 3rem; 
        } 
        @include respond(tab-port){
            font-size: 4rem; 
        } 
        @include respond(phone-small){
            font-size: 2.8rem; 
        } 
        @include respond(phone-smaller){
            font-size: 3.8rem; 
        } 

      
        
        &--name,
        &--email {
            
            border-bottom: 2px solid #ddd;
            &:focus {
                border-bottom: 2px solid rgb(0, 255, 0);
            }
            &:focus:invalid {
                border-bottom: 2px solid rgb(255, 81, 0);
            }
        }
        



        &--label {
            display: block;
            font-size: 2.5rem;
            padding: 1rem;
            margin-left: .1rem;
            font-family:   'Lato', 'PT Sans Caption', sans-serif;
            transition: all .15s;

            @include respond(tab-land){
                font-size: 3rem; 
            } 
            @include respond(tab-port){
                font-size: 4rem; 
            } 
            @include respond(phone-small){
                font-size: 3rem; 
            } 
            @include respond(phone-smaller){
                font-size: 3.8rem; 
            } 
        }
        
        &--name{
            border-right: 1px solid #eee;

        }
        &--email {
            border-left: 1px solid #eee;

        }
        &--message {
            resize: none;
            // border-bottom: 1px solid #ccc;
        }
        &--submit{
            grid-area: submit;
            cursor: pointer;
            border-radius: 5px;
            background-color: #87ceeb;
            color: #fff;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all .1s;                
            outline: none;

            
            &:active:not([disabled]) {
                transform: translateY(2px);
                user-select: none;
            }
            &:hover:not([disabled]) {
                background-color: #7dd3f5;
            }
            
        }

        &:placeholder-shown + &--label {
            transform: translateY(-5rem);
            user-select: all;
            visibility: hidden;

        }
    }
}
