.screen {
    background-color: transparent;
    // background-color: brown;
    color: #fff;
    overflow: hidden;
    grid-row: 1 / span 4;
    grid-column: 4 / span 4;
    justify-self: center;
    align-self: center;
    margin-top: 5rem;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0, .3);



    &__text {
        font-size: 4.5rem;
        font-weight: 400;
        overflow: hidden; 
        border-right: .15em solid #eee; 
        white-space: nowrap; 
        // margin: 0 auto;
        letter-spacing: .1em; 
        animation: 
        typing 1s 1s backwards steps(15, end),
        blink-caret .55s step-start 5 forwards;

    
      

        &--small {
            letter-spacing: .1em; 
            font-size: 3.5rem;
            font-weight: 400;
            margin-top: 4rem;
            display: block;
            overflow: hidden; 
            border-right: .15em solid transparent; 
            white-space: nowrap; 
            // margin: 0 auto;
            animation: 
                typing 1s 1s backwards steps(15, end),
                blink-caret .75s step-end infinite backwards;
            animation-delay: 2.5s;

        }
    }


}