@mixin respond($size){
    @if $size == desktop {
        @media only screen and (min-width: 75em) // 1200px
            {@content};
    }

    @if $size == tab-land {
        @media only screen and (max-width: 75em) // 1200px
            {@content};
    };


    @if $size == tab-port {
        @media only screen and (max-width: 56em)  // 900px
            {@content};
    };
    @if $size == phone-big {
        @media only screen and (max-width: 38.75em)  // 610px
            {@content};
    };
    @if $size == phone-small {
        @media only screen and (max-width: 31.25em)  // 500px
            {@content};
    };
    @if $size == phone-smaller {
        @media only screen and (max-width: 22.5em)  // 360px
            {@content};
    };
}

@mixin bugFix {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: translateZ(0) scale(1.0, 1.0) translate3d(0,0,0);
    transform: translateZ(0) scale(1.0, 1.0) translate3d(0,0,0);
    
    -webkit-font-smoothing: subpixel-antialiased;
    
}

$text-shadow: .3rem .2rem .3rem rgba(0,0,0,.4);

