@import "mixins";
@import "layout/bio.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/header.scss";
@import "layout/projects.scss";
@import "animations";
@import "components/button.scss";
@import "components/form.scss";
@import "components/navbar.scss";
@import "components/screen.scss";

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // @include bugFix;


}

html {
    font-size: 62.5%; // 1rem = 10px

    @include respond(tab-land){
        font-size: 50%; // 1 rem = 8px
    }
    @include respond(tab-port){
        font-size: 37.5%; // 1rem = 6px;
    }
    
}

body {
    font-family:  'PT Sans Caption', sans-serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
        box-sizing: border-box;
}

