@mixin respond($size){
    @if $size == tab-land {
        @media only screen and (max-width: 75em) // 1200px
            {@content};
    }
    @if $size == tab-port {
        @media only screen and (max-width: 56em)  // 900px
            {@content};
    }
}

@mixin bugFix {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: translateZ(0) scale(1.0, 1.0) translate3d(0,0,0);
    transform: translateZ(0) scale(1.0, 1.0) translate3d(0,0,0);
    
    -webkit-font-smoothing: subpixel-antialiased;
    
}
