.bio {

    z-index: 30;
    grid-column: 1 / -1;
        justify-self: stretch;
        justify-items: center;
        background-image: linear-gradient(transparent 0, rgb(244, 255, 229) 10%, rgb(222, 255, 184) 100%);

        padding: 16rem 0 15rem 0;
        margin-top: -10rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
        // background-image: linear-gradient( to top, #ffd 80%, #eee 100%);
        font-family:  'PT Sans Caption', sans-serif;
        // background-color: #ececf3;

        @include respond(phone-small){
            margin-top: -9rem;
            padding-top: 12rem;
            padding-bottom: 9rem;
        }
        @include respond(phone-smaller){
            margin-top: -7rem;
            padding-top: 12rem;
            padding-bottom: 9rem;
        }


    &__container {
        display: grid;
        grid-template-areas:"header  header  header              header"
                            "me-head me-head me-head             tec-head "
                            "me      me      photo               techno"
                            "me      me       photo         biobutton-1"
                            "me      me         photo      biobutton-2";

        

        grid-template-rows: repeat(5, max-content);
        // grid-template-columns: repeat(4, minmax);
        grid-template-columns: 1fr 1fr minmax(min-content, .6fr) 1fr;
        // justify-items: center;
        // align-items: center;
        grid-gap: .4rem;

        background-color: #ececf3;
        background-color: #fff;
        // background-color: rgba(153, 185, 133, .6); // Old Version
        opacity: .9;
        color: #fff;
        overflow: hidden;
        padding: .8rem;
        margin: 0 10%;

        text-align: center;
        border-radius: 10px; 
        box-shadow: .1rem 1rem 1rem rgba(0,0,0,.3);

        @include respond(phone-big){
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "header    header    header     header"
            "me-head  me-head me-head       me-head"
            "me       me       me           me"
            "photo    techno   techno techno"
            "biobutton-1     techno   techno techno"
            "biobutton-2 tec-head tec-head tec-head";

            
        }

    }

    &--item {
        // align-self: stretch;
            // justify-self: stretch;
            border-radius: 8px;
            color: white;
            // margin: 1rem;
            overflow:hidden;
            box-shadow: .2rem .2rem .3rem rgba(0,0,0,.3);
            padding: .4rem;
            padding-bottom: .6rem;
            background-color: #87ceeb;

    }

    &__header {
        display: block;
        color: rgb(75, 117, 12);
        font-size: 5rem;
        font-weight: 500;
        grid-area: header;
        justify-self: center;
        align-self: start;
        text-align: center;
        margin-bottom: 10rem;
        text-shadow: $text-shadow;

        @include respond(phone-big){
            margin-bottom: 5rem;    
        }
        
    }

    &__about {
        
        grid-area: me;
        
        &--text {
            padding: 3rem 2rem 1rem 2rem;
            font-size: 3rem;
            letter-spacing: -1px;

            @include respond(tab-land){
                font-size: 2.6rem;
                letter-spacing: 0;
                padding: 1.5rem 1rem .5rem 1rem;
                font-size: 2.5rem;

            }
            @include respond(phone-big){
                font-size: 3.2rem;
            }
        }

        &--header {
            grid-area: me-head;
            font-size: 3.8rem;
            margin-bottom: 5px ;
            
        }
    }
    &__photo {

        position: relative;
        grid-area: photo;
        // height: 80%;
        filter: sepia(20%);
        border-radius: 8px;
        cursor: pointer;
        transition: all .3s;
        // overflow: hidden;
        align-self: center;
        // clip-path: circle(40% at 50% 40%);
        background-color: transparent;
        box-shadow: none;

       

        &--photo {
            // background-color: #fff;
            width: 100%;
            background-color: transparent;
            box-shadow: none;


            @include respond(phone-big){
                max-width: 16em;

            }
            @include respond(phone-smaller){
                max-width: 12em;            
            }

            &--photo {}
        }
        
       
        &--glasses {
            position: absolute;
            top: 27%;
            left: 14%;
            width: 70%;
            grid-area: photo;
            opacity: 0;
            transition: all .3s;
            transform: translateY(-200%);
        }

        
        &:active {
            box-shadow: 0 0 1rem rgba(0,0,0,.5);
            filter: grayscale(100%);    
        }
        &:active > &--glasses{
            transform: translateY(0);
            opacity: 1;
        }
        
    }

    &__button {

        &--1{
            grid-area: biobutton-1;
        }
        &--2{
            grid-area: biobutton-2;
        }

        &:link,
        &:visited {
            
            max-height: 5rem;
            width: 100%;
            background-color: #87ceeb;
            border-radius: 8px;
            font-size: 2.8rem;
            line-height: 4rem;
            cursor: pointer;
            transition: all .1s;
            text-decoration: none;

            

            @include respond (phone-big){
                height: 100%;
            }

            &:hover, &:focus {
                transform: translateY(-2px);
                background-color: #93e0ff;

            }
            &:active {
                transform: translateY(3px);
                box-shadow: .1rem .2rem .4rem rgba(0,0,0,.4);

            }
        }
        
    }
    &__technologies {
        grid-area: techno;

        // display: grid;
        // grid-template-columns: repeat(3, max-content);
        // align-content: space-around;
        // justify-content: space-around;
        
        font-size: 2.8rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-evenly;

        

        &--header {
            grid-area: tec-head;
            font-size: 3.8rem;
            align-self: stretch;
            justify-self: stretch;
            // border-bottom: 1px solid #ddd;
            margin-bottom: 5px ;
            background-color: #87ceeb;
            color: white;

            @include respond(phone-big){
                align-self: start;
                margin-bottom: 0;
                height: 100%;
            }

        }

        &--icon-box {

            width: 6rem;
            height: 6rem;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: .3rem .5rem .2rem rgba(0,0,0,.3);
            // transition: all .2s;
            // cursor: pointer;
            // border: 2px solid #fff;
            margin: .5rem;
            // position: relative;

            @include respond(phone-big){
                width: 10rem;
                height: 10rem;
            }
            @include respond(phone-small){
                width: 8rem;
                height: 8rem;
            } 
            @include respond(phone-smaller){
                width: 6rem;
                height: 6rem;
            }
        }
            &--icon {
                padding: .5rem;
                height: 100%;
                width: 100%;
                background-color: white;

            }
            

            // &:hover {
            //     transform: scale(1.1);
            //     filter: brightness(110%);
            // }

           
            
        
        
    }
    
}