.header {
    grid-column: 1/ -1;
    // background-color: #ddd;
    height: 48vw;
    font-family: 'Lato', 'PT Sans Caption', sans-serif;
 
    position: relative;
    z-index: 10;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    align-items: start;

    // background-image: linear-gradient( transparent 95%,  #ffd 100%);

&::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image:  url(./img/background_computer-2000.jpg);
        // background-image: linear-gradient( to bottom, transparent 0%, transparent  93%, rgba(252, 255, 224, 0.9) 100%),  url(./img/background_computer.jpg);
    // -webkit-filter: sepia(50%); /* Safari 6.0 - 9.0 */

    filter: hue-rotate(35deg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-resolution: 192dpi) and (max-width: 50em), (max-width: 100em) {
        background-image: url(./img/background_computer-1600.jpg);
    }

    @media (min-resolution: 192dpi) and (max-width: 37.5em), (max-width: 93.75em) {
        background-image:  url(./img/background_computer-1200.jpg);
    }

    @media (min-resolution: 192dpi) and (max-width: 28.125em), (max-width: 56.25em) {
        background-image: url(./img/background_computer-900.jpg);
    }
    @media (min-resolution: 192dpi) and (max-width: 18.75em), (max-width: 37.5em) {
        background-image:  url(./img/background_computer-600.jpg);
    }
    
    }

}


