.contact {
    background-color: #ddd;
    background-image: radial-gradient(rgb(207, 223, 186), rgb(230, 255, 202));
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        font-size: 3rem;
        margin: 4rem auto;
    }
}