.header {
    grid-column: 1/ -1;
    // background-color: #ddd;
    height: 48vw;
    background-image: linear-gradient(transparent 58%, rgba(0,0,0,.2) 69%, rgba(2, 0, 121, 0.6) 100%, ),  url(../../img/background_computer.jpg);
    // background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4)),  url(../../img/background_computer.jpg);
    background-size: 120%;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
    justify-items: start;
    align-items: start;

    display: none;
}


