.header {
    grid-column: 1/ -1;
    // background-color: #ddd;
    height: 48vw;
    font-family: 'Lato', 'PT Sans Caption', sans-serif;


    
    position: relative;
    z-index: 10;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
    justify-items: start;
    align-items: start;

    // background-image: linear-gradient( transparent 95%,  #ffd 100%);

&::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image:  url(./img/background_computer.jpg);
        background-image: linear-gradient( to bottom, transparent 0%, transparent  93%, rgba(252, 255, 224, 0.9) 100%),  url(./img/background_computer.jpg);
        // background-image:  url(./img/background_computer.jpg);
    // -webkit-filter: sepia(50%); /* Safari 6.0 - 9.0 */

    filter: hue-rotate(50deg) brightness(80%);
    filter: hue-rotate(35deg);

    // background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4)),  url(./img/background_computer.jpg);
    background-size: 120%;
    background-position: center top;
    background-repeat: no-repeat;
    }

}


