.projects {
  margin-bottom: 12rem;
    grid-column: 1 / span 10;

    // max-width: 90%;
    max-width: 100%;
    // margin: 0 10rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 20rem;
    grid-auto-rows: minmax(1vw, 3vw);
    grid-gap: 15px;
    // background-color: #ccc;
    transition: all .3s;

    &__header {

        grid-row: 1 / span 1;
        grid-column: 1 / span 10;
        align-self: center;
        justify-self: center;
        font-size: 5rem;
        font-weight: 500;
        text-align: center;
        // margin: 6rem auto;
        color: rgb(75, 117, 12);
        // border-bottom: 2px solid rgb(138, 180, 75);
        text-shadow: $text-shadow;
      }
    
    // DO PRZETESTOWANIA!!!
    // &:hover {
    //   grid-column-gap: 20px;
    // }


    &__gallery {
      // @include bugFix;

      

      display: block;
        background-color: #eee;
        color: white;
        text-align: center;
        transition: all .5s ;
        transform: scale(1);
        border-radius: 3px;
        position: relative;
        z-index: 9;
        overflow: hidden;
        grid-row: span 4;
        grid-column: span 2;
        cursor: pointer;
        animation: appear .5s backwards;
        animation-play-state: paused;
        // animation-fill-mode: backwards;
        // animation-duration: .5s;
        overflow: hidden;
        max-width: 100%;

        position: relative;
        
        &-background {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 100%;
          // background-color: rgba(yellowgreen, .3);
          background-size: cover;
          background-position: center;

          z-index: -1;
          transition: all .3s;
        
        }
        // &::before{
        //   position: absolute;
        //   bottom: 0;
        //   right: 0;
        //   content: '';
        //   width: 0;
        //   height: 0;
        //   background-color: rgba(yellowgreen, .3);
        //   z-index: 10;
        //   transition: all .3s;
        //   transform-origin: bottom;
        
        // }
        
        &--header, 
        &--footer {
          // @include bugFix;
          margin-right: -3px;
          padding: 1rem .5rem;
          // font-weight: 500;
          background-color: rgba(#444444, .8);
          position: absolute;
          text-align: center;
          transition: all .5s;
          right: 0;
          width: 102%;
          // padding: 0;
          // z-index: 15;
        //   height: 0;
          // overflow: hidden;


        }
        
        &--header {
          top: 0;
          right: 0;
          font-size: 2.2rem;
          transform: translateY(-100%) ;
          // padding-top: 1rem ;
        }
        &--footer {
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 1px;
            bottom: 0;
            right: 0;
            // padding: .5rem;
            // padding-bottom: 1rem ;

            transform: translateY(100%);

        }
        
          // DO PRZETESTOWANIA!!!
    
        // &:hover::after {
        //   height: 100%;
        //   width: 100%;
        // }
        // &:hover::before {
        //   height: 100%;
        //   width: 100%;
        // }


        &:hover  > &--footer {
            bottom: 0;
            transform: translateY(0);
          }
        &:hover  > &--header {
            top: 0;
            transform: translateY(0);
          }
        
          
        &:hover > &-background {
            filter: blur(1px);
          }

        grid-template-columns: repeat(9, 1fr);
        &--1 {
          grid-column: 2 / span 3;
          grid-row: 2 / span 5;
          animation-delay: .1s;
          background-color: transparent;

          &-background {
            background-image: url(./img/borrowMe.jpg);
          }
          
          
        }
        &--2 {
          grid-column: 5/ span 3;
          grid-row: 2 / span 3;
          animation-delay: .2s;

          &-background {
            background-image: url(./img/RQM.jpg);
          }
        }
        &--3 {
          grid-column: 8/ span 2;
          grid-row: 2 / span 3;
          animation-delay: .3s;

          &-background {
            background-image: url('./img/WeatherMachine.jpg');
          }
          
        }
        &--4 {
          grid-column: 5 / span 4;
          grid-row:  5 / span 3;
          animation-delay: .4s;

          &-background {          
            background-image: url('./img/WikipediaViewer.jpg');
          }
        }
        &--5{
          grid-column: 9 / span 1;
          grid-row: 5 / span 2;
          background-image: url('./img/Kalkulator.jpg');
          animation-delay: .5s;
          &-background {          
            background-image: url('./img/Kalkulator.jpg');
          }

        }
        &--6{
          grid-column: 2 / span 3;
          grid-row: 7 / span 5;
          animation-delay: .6s;

          &-background {          
            background-image: url('./img/PomodoroClock.jpg');
          }
        }
        &--7{
          grid-column: 5 / span 4;
          grid-row: 8 / span 4;
          animation-delay: .7s;

          &-background {          
            background-image: url('./img/TwitchStream.jpg');
          }
          
        };
        &--8{
          grid-column: 9 / span 1;
          grid-row: 7 / span 5;
          animation-delay: .8s;
          background-color: transparent;


          &-background {          
            background-image: url('./img/Notepad.jpg');
            background-size: 250%;
            background-position: center;
          background-color: transparent;
          background-repeat: no-repeat;
          }
        }
        &--9 {
          grid-column: 2 / span 2;
          grid-row: 12 / span 4;
          animation-delay: .9s;

          &-background {          
            background-image: url('./img/TicTacToe.jpg');
          }
        }
        &--10{
          grid-column: 4 / span 4;
          grid-row: 12 / span 4;
          animation-delay: 1s;

          &-background {          
            background-image: url('./img/portfolio.jpg');
          }
        }
        &--11{
          grid-column: 8 / span 2;
          grid-row: 12 / span 4;
          animation-delay: 1.1s;

          &-background {          
            background-image: url('./img/SimonGame.jpg');
          }
        }
        &--12 {
          grid-column: 2 / span 8;
          grid-row: 16 / span 2;

          &-background {          
            background-image: radial-gradient(rgb(230, 255, 192), #ddd);
          }
        
        }
        
        
        &:hover {
          // @include bugFix;
          // transform: scale(1.05);
          // transform: translateY(-3px) scale(1.05);
          transform: translateY(-7px);
          box-shadow: 3px 5px 8px rgba(1, 1, 1, .6);
    
        }
        
          
        
        
        
    
        
      }
      
      
    

}
